<div id="sign">
    <h1 id="signin_header">
        Sign in 
    </h1>
    <form id="form">
        <label for="email">Email: </label>
        <input type="email" required id="email">
        <label for="password">Password: </label>
        <input type="password" required id="password">
        <h6 id='transfer_to_sign_up'>
            <a id="transfer_sign_up">
                Want to sign up
            </a>
        </h6>
        <button type="submit" id="sign_in_btn">Sign in</button>
    </form>
</div>

<div id='signup' hidden>
    <h1>Sign up</h1>
    <form id="signupform">
        <label for="email">Email: </label>
        <input type="email" required id="sign_up_email">
        <label for="password">Password: </label>
        <input type="password" required id="sign_up_password">
        <label for="password">Rewrite the Password: </label>
        <input type="password" required id="confirm_password">
        <h6 id='transfer_to_sign_in'>
            <a id="transfer_sign_in">
                Sign in
            </a>
        </h6>
        <button type="submit" id="sign_up_btn">Sign Up</button>
    </form>
</div>
<h1>Google Authentication 2</h1>
<button id="signin">Sign In with Google</button>
<button id="signout" hidden="true">Sign Out</button>